.nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  transition-timing-function: easy-in;
  transition: all 0.5s;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.9475140397956058) 100%
  );
}

.nav.nav__black {
  background-color: #000000;
}

.nav .nav__contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 4.8rem;
}

.nav .nav__logo {
  width: 120px;
}

/* Media queries */
@media screen and (max-width: 768px) {
  .nav .nav__logo {
    width: 50px;
  }
  .nav .nav__contents {
    padding: 0.6rem 1.6rem;
  }
}
