.row {
  color: #ffffff;
  margin-left: 20px;
}

.row .row__title-section {
  padding-top: 2.5rem;
}
.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  margin: 0.5rem 0rem;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  max-height: 100px;
  object-fit: contain;
  margin-right: 10px;
  width: 100%;
  transition: transform 450ms;
}

.row__poster:hover {
  cursor: pointer;
  transform: scale(1.08);
  opacity: 1;
}

.row__posterLarge {
  max-height: 250px;
}

.row__posterLarge:hover {
  transform: scale(1.09);
  opacity: 1;
}
